.poster-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.card-1 {
    width: 24rem;
    height: 18rem;
    background-image: url('../../../../images/iteration-2-images/cta/kart-1.png');
}


.card-3 {
    width: 24rem;
    height: 8.5rem;
    background-image: url('../../../../images/iteration-2-images/cta/kart-3.png');
}

.card-2 {
    width: 24rem;
    height: 8.5rem;
    background-image: url('../../../../images/iteration-2-images/cta/kart-2.png');
}


.card-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: var(--primary-white);
}

.card-text strong {
    font-family: "Quattrocento", serif;
    font-size: 2rem;
}

.card-text p {
    font-weight: 600;
}

.card-text a {
    padding: 1rem;
    background-color: var(--primary-white);
    color: var(--primary-red);
    border-radius: 20px;
    text-decoration: none;
    font-family: "Barlow", serif;
    font-size: 0.8rem;
}

@media(max-width: 768px) {
    .poster-content {
        flex-direction: column;
        align-items: center;
    }
}