.success-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--primary-red);
}

.success-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    gap: 7rem;
    height: 60%;
    text-align: center;
}

.success-text {
    font-size: 3rem;
    color: var(--primary-white);
    font-family: "Roboto Condensed", serif;
    font-weight: 200;
    text-align: center;
}

.success-text > p {
    margin-bottom: 0;
}

.logo{
    width: 15rem;
}