.label {
    font-weight: 600;
}

.checkbox-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    white-space: nowrap;
}

@media(max-width: 768px){
    .checkbox-list {
        grid-template-columns: 40% 40% ;
        justify-content: space-around;
    }

}