footer {
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-family: "Barlow", serif;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    gap: 3rem;
    max-width: 75rem;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.address #logo {
    max-width: 10rem;
}

.address-item {
    display: flex;
    gap: 0.5rem;
}

.address-item img {
    height: 2rem;
}

.address-item p {
    margin: 0;
}

.hot-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.img-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.copyright {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: auto;
}

@media (max-width: 768px) {

    .contact {
        flex-direction: column;
    }
    
}