nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--primary-black);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

nav a:hover {
    color: var(--primary-white);
    background-color: var(--primary-gray);
    border-radius: 20px;
}

@media(max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        width: 10rem;
        margin: auto;
    }
}